### Imports

In [1]:
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt
import math

### Constants

In [3]:
# DataFrame columns
column_names = ['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Street Address', 'City', 'State']

# Files
data_folder = "data/"
shop1_file = data_folder + 'Shop1.csv'
shop2_file = data_folder + 'Shop2.xlsx'
shop3_file = data_folder + 'Shop3.json'
shop4_file = data_folder + 'Shop4.xml'
shop5_file = data_folder + 'Shop5.parquet'
shop6_file = data_folder + 'Shop6.db'

### Pre processing

#### 2.1.1 Shop 1 (CSV)

In [4]:
df_shop1 = pd.read_csv(shop1_file)
df_shop1

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street Address,City,State
0,182436,AAA Batteries (4-pack),6,2.99,2021-01-08 09:11:00,642 Highland St,San Francisco,CA
1,182437,AA Batteries (4-pack),2,3.84,2021-01-15 22:25:00,317 Center St,New York City,NY
2,182438,Flatscreen TV,1,300.00,2021-01-18 09:07:00,488 Adams St,San Francisco,CA
3,182446,USB-C Charging Cable,2,11.95,2021-01-20 23:35:00,882 Jackson St,San Francisco,CA
4,182456,AAA Batteries (4-pack),4,2.99,2021-01-21 17:10:00,352 5th St,New York City,NY
...,...,...,...,...,...,...,...,...
25257,342300,AAA Batteries (4-pack),12,2.99,2021-12-13 00:06:00,913 South St,New York City,NY
25258,342304,Lightning Charging Cable,2,14.95,2021-12-15 12:51:00,473 Hill St,San Francisco,CA
25259,342308,Flatscreen TV,1,300.00,2021-12-28 10:08:00,435 Willow St,Dallas,TX
25260,342310,Wired Headphones,2,11.99,2021-12-06 15:03:00,504 1st St,San Francisco,CA
25261,342321,USB-C Charging Cable,2,11.95,2021-12-09 15:12:00,436 Wilson St,Dallas,TX

#### 2.1.2 Shop 2 (Excel)

In [20]:
df_shop2 = pd.read_excel(shop2_file).dropna(axis=0, how='any')
df_shop2

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street Address,City,State
1,182422.0,USB-C Charging Cable,1.0,11.0,2021-01-07 15:02:00,405 6th St,Dallas,TX
2,182429.0,Lightning Charging Cable,2.0,15.0,2021-01-22 20:41:00,94 5th St,New York City,NY
3,182430.0,USB-C Charging Cable,2.0,11.0,2021-01-16 14:11:00,644 Main St,San Francisco,CA
4,182439.0,Apple Airpods Headphones,1.0,145.0,2021-01-15 08:43:00,651 Hill St,Atlanta,GA
5,182442.0,iPhone,1.0,800.0,2021-01-08 13:03:00,507 Chestnut St,San Francisco,CA
...,...,...,...,...,...,...,...,...
40469,342328.0,27in FHD Monitor,1.0,139.0,2021-12-17 15:59:00,181 River St,Atlanta,GA
40470,342336.0,34in Ultrawide Monitor,1.0,369.0,2021-12-13 13:41:00,188 West St,New York City,NY
40471,342339.0,Apple Airpods Headphones,1.0,145.0,2021-12-08 14:36:00,113 4th St,Seattle,WA
40472,342345.0,27in FHD Monitor,1.0,139.0,2021-12-18 16:29:00,374 Cherry St,New York City,NY
40473,342348.0,20in Monitor,1.0,107.0,2021-12-02 05:37:00,101 12th St,Boston,MA

#### 2.1.3 Shop 3 (JSON)

In [ ]:
df_shop3 = pd.read_json(shop3_file, orient='split')
df_shop3

#### 2.1.4 Shop 4 (XML)

In [39]:
df_shop4 = pd.read_xml(shop4_file).drop(['processedBy'], axis=1).rename(columns={
    'orderId': 'Order ID',
    'product': 'Product',
    'quantityOrdered': 'Quantity Ordered',
    'priceEach': 'Price Each',
    'orderDate': 'Order Date',
    })
df_shop4[['Street Address', 'City', 'State']] = df_shop4['purchaseAddress'].str.split(', ', 0, expand=True)
df_shop4 = df_shop4.drop(['purchaseAddress'], axis=1)
df_shop4

,Order ID,Product,Quantity Ordered,Price Each,Order Date,purchaseAddress,Street Address,City,State
0,182448,Apple Airpods Headphones,1,169.00,2021-01-07 22:33:00,"981 8th St, Atlanta, GA",981 8th St,Atlanta,GA
1,182512,Wired Headphones,1,13.99,2021-01-17 19:22:00,"230 14th St, Austin, TX",230 14th St,Austin,TX
2,182525,Bose SoundSport Headphones,1,109.00,2021-01-21 14:32:00,"310 Maple St, Dallas, TX",310 Maple St,Dallas,TX
3,182541,27in FHD Monitor,1,159.00,2021-01-04 19:53:00,"92 7th St, San Francisco, CA",92 7th St,San Francisco,CA
4,182548,ThinkPad Laptop,1,1099.00,2021-01-30 16:34:00,"158 Church St, Austin, TX",158 Church St,Austin,TX
...,...,...,...,...,...,...,...,...,...
10020,342247,iPhone,1,749.00,2021-12-08 13:45:00,"154 12th St, New York City, NY",154 12th St,New York City,NY
10021,342247,Lightning Charging Cable,2,16.99,2021-12-08 13:45:00,"154 12th St, New York City, NY",154 12th St,New York City,NY
10022,342249,Wired Headphones,1,13.99,2021-12-23 14:08:00,"837 11th St, Dallas, TX",837 11th St,Dallas,TX
10023,342280,Lightning Charging Cable,2,16.99,2021-12-23 15:03:00,"150 North St, New York City, NY",150 North St,New York City,NY
10024,342318,AAA Batteries (4-pack),2,3.99,2021-12-18 17:35:00,"800 Ridge St, Atlanta, GA",800 Ridge St,Atlanta,GA

#### 2.1.5 Shop 5 (Parquet)

In [ ]:
df_shop5 = pd.read_parquet(shop5_file)
df_shop5

#### 2.1.6 Shop 6 (SQLite)

In [ ]:
cnx = sqlite3.connect(shop6_file)
df_shop6 = pd.read_sql_query("SELECT * FROM sales", cnx)
df_shop6

### Data Analysis

#### 2.2.1 Sales vs Shop

In [ ]:
shops = ['Shop 1', 'Shop 2', 'Shop 3', 'Shop 4', 'Shop 5', 'Shop 6']
sales = [200, 150, 100, 170, 220, 50]

plt.bar(shops, sales)
plt.xticks(shops, rotation="vertical")
plt.ticklabel_format(style='plain', axis='y')
plt.title('Sales vs Shop', color='black')
plt.ylabel('Sales ($)')
plt.xlabel('Shop')
plt.show()

#### 2.2.2 Sales vs Month

#### 2.2.3 Sales vs City

#### 2.2.4 Number of Orders vs Hour

#### 2.2.5 Products sold together